:root {
  --spotify-green: #1ed760;
  --spotify-green-pale: #1b7e3e;
  --red: #e46262;
  --orange: rgb(255, 208, 0);

  --p1: rgb(107, 129, 255);
  --p2: rgb(255, 107, 139);
  --p3: rgb(107, 255, 164);
  --p4: rgb(255, 233, 107);
  --brighten: rgba(255, 255, 255, 0.582);
  --darken: rgba(0, 0, 0, 0.5);
  --translucent: rgba(0, 0, 0, 0);
}

button {
  font-weight: bold;
  line-height: 1;
  letter-spacing: .2vh;
  justify-content: middle;
}

.search-box {
  height: 9vh;
}

.type-name {
  height: 6vh;
}
/* 
.pulse:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
} */

.player {
  color: black;   
}
.ply-1 {
  background-image: linear-gradient(var(--p1), var(--translucent)) ;
}
.ply-2 {
  background-image: linear-gradient(var(--p2), var(--translucent));
}
.ply-3 {
  background-image: linear-gradient(var(--p3), var(--translucent));
}
.ply-4{
  background-image: linear-gradient(var(--p4), var(--translucent));
}

.plus {
  font-size: 8vh;
  display: table-cell;
  vertical-align: middle;
  padding-right: 1vh;

}
.text {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5vh;
}

.text-wrapper {
  width: fit-content;
  height: 100vh;
  margin: auto;
  margin-top: 0px;

}

.btn-green {
  background-color: var(--spotify-green);
  color: white;
}

.btn-pale-green {
  background-color: var(--spotify-green-pale);
  color: white;
}

.btn-red {
  background-color: var(--red);
  color: white;
}

.btn-orange {
  background-color: var(--orange);
  color: rgb(53, 53, 53);
}

.btn-gray {
  color: rgb(53, 53, 53);
}

.btn-brighten {
  background-color: var(--brighten);
  color: black;
}

.btn-darken {
  background-color: var(--darken);
  color: white;
}

.btn-translucent {
  background-color: var(--translucent);
  color: black;
  border: none;
}

.hiding {
  margin-top: 25vh;
}

.hiding:hover {
  margin-top: 0vh;
  transition: margin-top 0.25s ease-in;
}

.header-container {
  width: fit-content;
  /* max-width: 100%; */
}

.header {
  display: inline-block;
  /* margin-left: 0vh;
  margin-right: auto; */
  margin-left: 0px;
}

.score {
  border: solid .1vh black;
  line-height: 7vh;
  text-align: center;
  margin-right: 2vh;
  width: 9vh;
  height: 7vh;
  font-size: 6vh;
  float: left;
}

.name-container {
  width: 15.5vh;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3vh;
  float: left;
}

.player-num {
  font-size: 1.5vh;
}

.token-container {
  width: 100%;
  /* max-width: 100%;*/ 
  height: 8vh;
  float: left;
  /* margin-top: 2vh;  */

}

/* .past-tokens {
  border-top: solid 1px black;
} */

.token {
  display: inline-block;
  /* float: left; */
  width: 6vh;
  height: auto;
  margin: 1vh .6vh;
}

.token-img {
  border-radius: 10vh;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

.token-label {
  margin: 0;
  width: 100%;
  font-style:italic;
  letter-spacing: .2vh;
  color: rgba(0, 0, 0, 0.75);
}

#navbar {
  font-size: 2.6vh;
  width: 100%;
  float: center;
  margin-bottom: 6vh;
  border-bottom: solid .1vh rgba(255, 255, 255, 0.568);
}

.nav-item {
  display: inline-block;
  margin: 0 10vh;
  width: fit-content;
}

.float-container {
  /* border: 3px solid #fff; */
  padding: 2vh;
  min-width: 25%;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  /* justify-content: center; */
}

.float-child {
  min-width: 23%;
  max-width: 100%;
  width: 30vh;
  height: 60vh;
  float:left;
  padding: 1vh;
  border-radius: .3vh;
  /* border: 2px solid red; */
  /* margin: 0 auto; */
}  

.PlayerRSWP {
  display: none;
}



html, #root {
  color: white;
  background-color: black;
  font-family: Helvetica, sans-serif
}

.App {
  text-align: center;
  width: 140vh;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
